
table {
    width: 100%;
    margin-top: 20px;
    border-collapse: collapse;
}

th {
    padding: 10px;
    text-align: left;
    color: #ff4e00;
}

td {
    padding: 10px;
    border-bottom: 1px solid #eee;
}